<!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <script src="{{url_for('static', filename='assets/js/isotope.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/owl-carousel.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/lightbox.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/custom.js')}}"></script>
    <script src="https://kit.fontawesome.com/6317591a22.js" crossorigin="anonymous"></script>
    </div>
</body>

</html>