{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
  {{ super() }}
    <link rel="icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
{% endblock %}

{% block title %}
Edit product
{% endblock %}

{% block content %}
<div class="container">
    <br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="login_area mt-50">
                            <div class="amado-navbar-brand">
                <a href="{{ url_for('home') }}"><img class="logo" src="{{ url_for('static', filename='assets/images/black-logo.png') }}" alt=""></a>
            </div>
                            <br>
                            <h1 class="login-title">Login</h1>
                            {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
           <p>{{ message }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
                                {{ wtf.quick_form(form, id="quick_form", novalidate=True, button_map={'submit': 'primary'}) }}
                            <a href="{{url_for('forgot')}}">Forgot password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}